@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string getYear()
    {
        return DateTime.Now.Year.ToString();
    }

    string getMonth()
    {
        return DateTime.Now.Month.ToString();
    }
}

<h1>데모 뷰 페이지 : @getYear() @getMonth()</h1>